---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image">
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{ site.url }}">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="button-bar">
      <div class="buttons">
        <a href="/about/" class="btn btn-info">About me</a>
        <a href="/cv/" class="btn btn-info">CV</a>
        <a href="/portfolio/" class="btn btn-info">Developer portfolio</a>
      </div>
    </div>
    <div class="custom-links">
      {% for social_data in site.social %}
        {% assign icon = social_data[0] %}
        {% assign social = social_data[1] %}
        {% if icon == "envelope" %}
          {% assign icon_set = "fa" %}
        {% else %}
          {% assign icon_set = "fa-brands" %}
        {% endif %}
        {% if social.url %}
            <a class="icon-{{ icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %} target="social" rel="me">
              <em class="{{ icon_set }} fa-{{ icon }}"></em>
            </a>
        {% endif %}
      {% endfor %}
    </div>
</header>


<main class="content" role="main">

  {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="https://schema.org/BlogPosting" role="article">
          <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="{{ site.author }}">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
              <meta itemprop="url" content="{{ site.url }}{{ site.author_image }}">
            </div>
          </div>
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="headline"><a href="{{ post.url }}" itemprop="url"><span itemprop="name">{{ post.title }}</span></a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              {% if post.thumbnail %}
                <div class="thumbnail" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                  <img itemprop="url" src="/assets/article_images/{{ post.slug }}/{{ post.thumbnail }}" alt="thumbnail">
                    <meta itemprop="height" content="250">
                    <meta itemprop="width" content="250">
                  </img>
                </div>
                <div class="text">
              {% else %}
                <div>
              {% endif %}
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
              </div>
            </section>
            <div class="post-meta">
              {% capture iso_date %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
              <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ post.url }}">
              <meta itemprop="dateModified" content="{{ iso_date }}">
              <time datetime="{{ iso_date }}" title="{{ post.date | date_to_long_string }}" itemprop="datePublished" content="{{ iso_date }}">
                {{ post.date | date_to_long_string }}
              </time>
              by <address class="author" itemprop="author">{{ post.author }}</address>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  {% endif %}
</main>
