<div class="author">
  <div class="author-image">Blog Logo</div>
  <h4>{{ site.author }}</h4>
  <p class="bio">{{author.bio}}</p>
  <div class="custom-links">
    <span>Get in touch:</span>
    {% for social_data in site.social %}
      {% assign icon = social_data[0] %}
      {% assign social = social_data[1] %}
      {% if icon == "envelope" %}
        {% assign icon_set = "fa" %}
      {% else %}
        {% assign icon_set = "fa-brands" %}
      {% endif %}
      {% if social.contactable %}
          <a class="icon-{{ icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}" target="social" rel="me">
            <i class="{{ icon_set }} fa-{{ icon }}"></i>
          </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
