<head>
  <meta charset="utf-8">
  <!-- (1) Optimize for mobile versions: https://goo.gl/EOpFl -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% if site.social.twitter.handle %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.social.twitter.handle }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:image" content="{{ site.author_thumb | prepend: site.url }}" />
    {% if page.excerpt %}
    <meta name="twitter:description"  content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
    {% elsif site.description %}
    <meta name="twitter:description" content="{{ site.description | strip_html | strip_newlines | truncate: 200 }}" />
    {% endif %}
  {% endif %}

  {% if site.social.facebook.app_id %}
  <meta property="fb:app_id" content="{{ site.social.facebook.app_id }}" />
  {% endif %}

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}" />
  {% elsif site.description %}
  <meta property="og:description" content="{{ site.description | strip_html | strip_newlines | truncate: 200 }}" />
  {% endif %}
  <meta property="og:image" content="{% if page.image %}{{site.url}}/assets/article_images/{{ page.slug }}/{{ page.image | default: page.thumbnail }}{% else %}{{ site.author_thumb | prepend: site.url }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" >
  <meta property="og:type" content="blog" />
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "/manifest.webmanifest" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Dominic Sayers">
  <meta name="application-name" content="Dominic Sayers">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap">  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" media="screen" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" media="print" href="{{ "/css/print.css" | prepend: site.baseurl }}" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  <meta name="google-site-verification" content="QpPXgB6u6SjoFPP57mW1mDDkykp0Xeqx2yQbx23IOVI" />

  {% include tracking-head.html %}
</head>
