<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-567GJPJ" height="0" width="0"
    style="display:none;visibility:hidden" title="Google Tag Manager"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Google tag (gtag.js) -->
<script src="https://www.googletagmanager.com/gtag/js?id=G-9S6VKLJSXY"
  integrity="sha384-cQkGttGAdkHBOwda81KgsYLurPMZaKRBT7SsnI4twNop1e8n3aUIZv/Gp013NZAP" crossorigin="anonymous"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-9S6VKLJSXY');
</script>
