---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="content">
      <article class="post" itemscope itemtype="https://schema.org/Article">
        {% include article_image.html %}
        {% include post_content.html %}
        {% include post_footer.html %}
        {% include bottom_teaser.html %}
        {% include disqus.html %}
      </article>
    </main>
    {% include bottom_closer.html %}
    {% include javascripts.html %}
  </body>
</html>
